*{
    box-sizing: border-box;
}
#header, #header form, section > article, section{
    width: 100%;
    max-width: 1140px !important; 
    margin: auto;   
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(620px, 1fr));
    gap: 1rem;
    position: relative;
}
.container > div{
    position:absolute;
    top: -.5rem;
    bottom: 0;
    left: calc(50% + .1rem);
    background-color: #333;
    width: .2rem;
}
#create_gifo > div{
    width: 100%;
    max-width: 640px;
    text-align: center;
}
section:last-child{
    text-align: left;
}
.gloss .icon{
    margin: 0
}
article{
    width: 200px;
    height: 200px;
}
.orange{
    color: orange;
}
#header input,
#header select{
    width: 100%;
    margin: 0;
}
#header button{
    top: .2rem;
}
.button{
    max-width:300px;
    display: block;
    margin: .5rem auto !important;
    text-align: center;
}
section{
    text-align: left;
}
section input[type="checkbox"]{
    display: none;
}
section input[type="checkbox"] + .mostrar{
    display: none;
}
section input[type="checkbox"]:checked + .mostrar{
    display: block;
}
section pre{
    color: #ccc;
    background-color: #333;
    padding: 1rem;
    overflow: auto;
}

.gloss {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.gloss li {
    position: relative;
    list-style: none;
    border-left: 1rem solid #448;
    padding: 1rem 3rem;
}
.gloss strong:before{
    content: '';
    display:block;
}
.gloss span{
    display: block;
    font: bold 1.2rem sans-serif;
    color: #448;
}

.gloss li::before{
    position: absolute;
    left: -1.6rem;
    top: 25%;
    border-radius: 50%;
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: #ccc;
    border: .25rem solid #448;
}